body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: min(250px, 25%) 1fr;
    grid-template-rows: 1fr;
    grid-template-rows: min(125px, 20%) 1fr;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 40px;
    padding: 20px;
    background-color: #1992d4;
    color:white;
    font-weight: bold;
}

.sidebar h1 {
    font-size: 150%;
    padding-top: 3px;
}

#logo {
    height: 2rem;
    padding: 0;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 35px;
}

.icon-text a {
    padding-top: 3px;
}

.icon-text img {
    height: 1rem;
    padding: 0 0.5rem;
}

.main-container {
    background: #e2e8f0;
    padding: 30px 15px;
    padding-bottom: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

#header-top{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto auto auto;
    gap: 25px;
    align-items: center;
}

#header-bottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 15px;
    align-items: center;
}

.icon {
    height: 1rem;
}

.profile-image {
    border-radius: 50%;
    background-color: #1992d4;
}

.height3 {
    height: 3rem;
    width: 3rem;
}

.height2 {
    height: 2rem;
    width: 2rem;
}

.searchbar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-right: 50px;
}
.searchbar button, #header-top button {
    display: grid;
    align-items: center;
    border: 0;
    background-color: #ffffff;
}

.searchbar input {
    border: none;
    background-color: #e2e8f0;
    border-radius: 20px;
    padding: 0.25rem 0.5rem;
}

.header {
    padding: 5px 35px;
    padding-right: 80px;
    display: grid;
    gap: auto;
    grid-template-rows: auto auto;
    font-weight: bold;
}

#header-bottom button {
    border-radius: 15px;
    height: 2rem;
    width: 5rem;
    border: none;
    color: #ffffff;
    background-color: #1992d4;
}

.greattings div {
    font-size: 60%;
}

.greattings {
    padding-top: 10px;
    display: grid;
    grid-template-rows: auto auto;
    gap: auto;
    height: calc(3rem - 10px);
}

.project {
    background-color: #ffffff;
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 32px 20px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.announcements-list, .projects-list, .trending-list {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 8px;
}

.projects-list {
    grid-area: 1/ 1/ 3 / 2;
}

.project h3 {
    font-weight: bold;
    margin-bottom: 3px;
}

.project p {
    color: #707070;
    padding-right: 20%;
    margin-bottom: 8px;
}

.logos {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    gap: 20px;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
    gap: 20px;
}

.announcements-container, .trend-container {
    background-color: #ffffff;
    border-radius: 10px;
}


.announcements-container {
    display: grid;
    padding: 30px 30px;
    grid-template-rows: auto 2px auto 2px auto;
    gap: 15px;
}

.separator {
    background-color: #e2e8f0;
}

.announcement {
    padding: 0px 5px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.announcement h3 {
    font-weight: bold;
    font-size: 110%;
}

.announcement p {
    color: #707070;
}

.trend-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 25px;
    gap: 30px;
}

.trend {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
}

.trend-subject {
    color: #707070;
}

.trend-info {
    display: grid;
    gap: 5px;
}